table {
    width: 100%;
  }
.dataSet{
    width: 25%;
    background-color: rgb(143, 219, 255);
    font-size: 100%;
    color: black;
}

 

  
  /* .mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
} */
  
  th.mat-header-cell, td.mat-cell {
      text-align: center;
      /* border: 1px solid #CCC; */
      padding: 0 !important;
  }

  .columnGray{
      background-color: rgb(212, 209, 209);
      color: black;
  }

  .columnBlue{
    background-color:rgb(203, 230, 243);
    color: black;
}

  .metaData{
    background-color: rgb(155, 154, 154);
    font-size: 100%;
  }



  /* .dataSet{
    background-color: rgb(143, 219, 255)
    /* font-size: 100%;} */


  /* .container{
      width: 1200px;
  } */
  /* th.mat-header-cell {
    color: rgb(2, 2, 2);
    background-color: rgb(141, 196, 221);
  }
   */
  /* th.mat-header-cell, td.mat-cell {
      text-align: center;
      border: 1px solid #CCC;
      padding: 0 !important;
  } */

  /* .short-data {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
   
  } */

  .pading-td {
    padding: 10px;
  }

  /* mat-colum-header-row-second-group{
    width: 300%;
  } */
  mat-colum-header-row-first-group{
    width: 100%;
  }

  
/* .w-100{
    width: 10px;
} */

  th {
    background-color: rgb(212, 209, 209);
    /* color: white; */
  }
  /* ::ng-deep .custom-tooltip {
    font-size: 15px;
  } */

  /* .mat-column-symbol {
    width: 150%;
    
  } */

  /* .icons {
    cursor: pointer;
    outline: none;
  } */