<!-- <p>table works!</p> -->

<div class="container">
    <div class="row">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="year">
                <th class="columnBlue" mat-header-cell *matHeaderCellDef> Year </th>
                <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <!-- Sales Column -->
            <ng-container matColumnDef="sales">
                <th class="columnBlue" mat-header-cell *matHeaderCellDef> Sales </th>
                <td mat-cell *matCellDef="let element"> {{element.sales}} </td>
            </ng-container>

            <!-- Location Column -->
            <ng-container matColumnDef="location">
                <th class="columnBlue" mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell class="columnGray" *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- link Column -->
            <ng-container matColumnDef="link">
                <th class="pading-td columnGray" mat-header-cell *matHeaderCellDef> Source Link </th>
                <td class="pading-td short-data" mat-cell *matCellDef="let element" matTooltip="{{element.link }}"
                    aria-label="Displays a tooltip" matTooltipClass='custom-tooltip'> {{element.link| slice:0:45}} </td>
            </ng-container>

            <ng-container matColumnDef="resourse">
                <th mat-header-cell class="columnGray" *matHeaderCellDef>Resource Type</th>
                <td mat-cell *matCellDef="let element"> {{element.resourse}} </td>
            </ng-container>

            <ng-container matColumnDef="deleteEmployee">
                <th mat-header-cell class="columnGray" *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element;let i = index">
                    <button mat-icon-button class="light-button" color="primary"
                        (click)="openDialogWithTemplateRef(myDialog,element)"
                        aria-label="Example icon button with a home icon">
                        <mat-icon class="icons">launch</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- frequency Column -->
            <ng-container matColumnDef="frequency">
                <th mat-header-cell class="columnGray" *matHeaderCellDef mat-sort-header> Updated Frequency </th>
                <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
            </ng-container>

            <!-- Header row first group -->
            <ng-container matColumnDef="header-row-first-group">
                <th mat-header-cell class="dataSet" *matHeaderCellDef [attr.colspan]="3">Dataset Serach Result</th>
            </ng-container>

            <!-- Header row second group -->
            <ng-container matColumnDef="header-row-second-group">
                <th mat-header-cell class="metaData" *matHeaderCellDef [attr.colspan]="5">MetaData Search Result</th>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <ng-template #myDialog>
            <h2 matDialogTitle></h2>
            <mat-dialog-content>

                <div class="list-body">
                    <tbody>
                        <table class="table" style="width: auto;">
                            <thead>
                                <tr>
                                    <th>Sales</th>
                                    <th>Location</th>
                                    <th>Year</th>
                                    <th>Name</th>
                                    <th>Source Link</th>
                                    <th>Resource Type</th>
                                    <th>Updated Frequency</th>
                                    <!-- <th>Book Ticket</th> -->

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="r" *ngFor="let item of slectedRowData">
                                    <td>{{item.sales}}</td>
                                    <td>{{item.location}}</td>
                                    <td>{{item.year}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.link}}</td>
                                    <td>{{item.resourse}}</td>
                                    <td>{{item.frequency}}</td>
                                    <!-- <td>{{item.deleteEmployee}}</td> -->
                                    <!-- <td class="b"> <a routerLink="/flightdetails" class="btn btn-info btn-block">select</a></td>-->
                                    <!-- <td>  <button (click)="  onSelect(flightinfo)" class="btn btn-warning" style="margin-left: 10px;color:black;background-color: rgb(182, 118, 34);">Book Ticket</button> </td> -->
                                </tr>
                            </tbody>
                        </table>
                </div>


            </mat-dialog-content>
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" matDialogClose color="primary">Close</button>
            </mat-dialog-actions>
        </ng-template>
    </div>


</div>