<div class="maindiv">
  <div class="header">
    <div class="header-right">
      <a (click)="onClick()" href="#home">Logout</a>

    </div>
  </div>

  <div class="container">
    <div class="main" [ngClass]="{'tableContent' : isVisible}">

      <div *ngIf="isVisible">
        <img class="img" src="/assets/data/helloicon.png" alt="image">
  
        <span>Hey User !</span>
      </div>
      <div class="autocomplete form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" [(ngModel)]="selectedValue" [typeahead]="questions"
          typeaheadOptionField="name" [typeaheadScrollable]="true" [typeaheadMinLength]=0
          (typeaheadOnSelect)="onSelect($event)" class="form-control" placeholder="What are you looking for?">
      </div>
      <!-- <span class="searchlabel">Search result</span> -->
  
      <div class="tabData" *ngIf="isVisible">
          <div class="headingAlignment"><b>Top Results</b></div>
  
        <table mat-table [dataSource]="dataSet" class="mat-elevation-z8">
          <ng-container [matColumnDef]="column" *ngFor="let column of datasetColumns">
            <th class="table1" mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="datasetcolumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: datasetcolumnsToDisplay;"></tr>
        </table>
  
          <div class="headingAlignment"><b>Top Reports</b></div>
        <table mat-table [dataSource]="metadata" class="table2">
          <ng-container [matColumnDef]="column" *ngFor="let column of metadataColumns">
            <th class="table2" mat-header-cell *matHeaderCellDef> {{column}} </th>
            <mat-cell *matCellDef="let element"> 
              <span class="truncate-text">
                {{element[column]}}
              </span>
            </mat-cell>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="metadatacolumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: metadatacolumnsToDisplay;"></tr>
        </table>
  
      </div>
  
    </div>
  </div>




</div>